:root {
  --primary-color: #f5bc11;
  --highlight-color: #f3bf23;
  --secondary-color: #3a3d47d7;
  --text-color: #ddd;
  --background-color: #2c2e36;
  --Headbackground-color: #3a3d47;
  --OverlayBackground-color: #3a3d47d7;
  --ProjectsBackground-color: #3a3d47;
  --skillBadge-color: #ffffff;
  --Footer-color: #2c2e36;
}

@font-face {
  font-family: "League_Spartan-Regular";
  src: url("Assets/Fonts/League_Spartan/static/LeagueSpartan-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "League_Spartan-Bold";
  src: url("Assets/Fonts/League_Spartan/static/LeagueSpartan-SemiBold.ttf")
    format("truetype");
}

body {
  background-image: url("Assets/platte.jpg");
  background-size: 15%;
  background-color: #2c2e36;
  background-repeat: repeat-x repeat-y;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: grid;
  grid-template-columns: repeat(5, 1fr); /* simpler layout */
  background-color: var(--Headbackground-color);
  align-items: center;
  padding: 10px;
}

.Portrait {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
}

.HeadLogo {
  display: flex;
  grid-column: 2/4;
  flex-direction: column;
  align-items: flex-start;
}

.HeadLogo h3 {
  font-family: "League_Spartan-Bold";
  font-size: 42px;
  color: var(--primary-color);
  margin-bottom: -25px;
  margin-top: 0px;
}

.HeadLogo p {
  font-family: "League_Spartan-Regular";
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 0px;
}

/* HeadReferences in column 3 */
.HeadReferences {
  grid-column: 4;
  display: flex;
  justify-content: flex-end;
}

.HeadReferences ul {
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.HeadReferences li {
  display: flex;
  align-items: center;
  filter: invert(85%) sepia(88%) saturate(1000%) hue-rotate(0) brightness(450%)
    contrast(100%);
  transform: scale(2);
}

.HeadReferences li:hover {
  display: flex;
  align-items: center;
  filter: invert(85%) sepia(88%) saturate(1000%) hue-rotate(0) brightness(500%)
    contrast(100%);
  transform: scale(2);
}

.HeadReferences img {
  width: 24px;
  height: 24px;
  filter: brightness(1.2); /* optional: tint icons */
}

/* WRAPPER */
.ContentWrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(min(30px, 100%), 1fr));
}

/* HERO SECTION */
.HeroSection {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(5, minmax(min(30px, 100%), 1fr));
  justify-content: center;
  align-items: center;
}

.IntroCard {
  display: flex;
  grid-column: 2 / 5;
  flex-direction: row;
  align-items: center;
  gap: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.Portrait img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--secondary-color);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.more-btn {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 6px 14px;
  font-family: "League_Spartan-Bold";
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.more-btn:hover {
  background-color: var(--primary-color);
  color: #2c2e36;
}

.skill-badge {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: 2px solid var(--skillBadge-color);
  padding: 4px 8px;
  font-size: 14px;
  font-family: "League_Spartan-Bold";
  border-radius: 6px;
  margin: 4px;
  cursor: default;
  transition: all 0.2s ease;
}

.dots {
  display: flex;
  gap: 2px;
  margin-left: 6px;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  background-color: transparent;
}

.dot.filled {
  background-color: var(--primary-color);
}

/* Intro text styles */
.IntroText {
  text-align: left;
  line-height: 1.2;
  max-width: 600px;
}

.IntroText h1 {
  font-family: "League_Spartan-Bold";
  font-size: 48px;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.IntroText p {
  font-family: "League_Spartan-Regular";
  font-size: 20px;
  color: var(--text-color);
}

/* PROJECTS SECTION */
.ProjectsSection {
  padding: 80px 40px;
  text-align: center;
  background-color: var(--ProjectsBackground-color);
}

.ProjectsSection h2 {
  font-family: "League_Spartan-Bold";
  font-size: 36px;
  color: var(--primary-color);
  margin-bottom: 40px;
}

.ProjectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
  justify-content: center;
  align-items: start;
  max-width: 1000px;
  margin: 0 auto;
}

.ProjectCard {
  background-color: var(--background-color);
  padding: 16px;
  line-height: 1.2;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ProjectCard:hover {
  transform: scale(1.03);
}

.ProjectCard img {
  width: 100%;
  border-radius: 8px;
}

.ProjectCard h3 {
  font-family: "League_Spartan-Bold";
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: -5px;
}

.ProjectCard h4 {
  font-family: "League_Spartan-Bold";
  font-size: 14px;
  color: var(--text-color);
  margin-top: 2px;
  margin-bottom: -5px;
}

.ProjectCard p {
  font-family: "League_Spartan-Regular";
  color: var(--text-color);
  margin-top: 12px;
  font-size: 16px;
}

.overlay-content a[href^="http"]:after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  filter: invert(85%) sepia(88%) saturate(1000%) hue-rotate(0) brightness(450%)
    contrast(100%);
  background-image: url("Assets/Icons/Link-Icon_48.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4px;
  vertical-align: middle;
}
.overlay-content a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}
.overlay-content a:hover {
  color: var(--highlight-color);
  text-decoration: underline;
}

.external-icon {
  width: 14px;
  height: 14px;
  margin-left: 4px;
  vertical-align: middle;
}

.project-info-list {
  list-style: none;
  padding: 0;
  margin: 12px 0 0 0;
  font-family: "League_Spartan-Regular";
  color: var(--text-color);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  align-items: center;
  text-align: center;
}

.project-info-list li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.project-info-list li .icon {
  display: inline-block;
  width: 20px;
  font-size: 18px;
  line-height: 1;
  color: var(--primary-color);
  flex-shrink: 0;
}

.skills-text {
  color: var(--text-color);
  font-weight: 500;
  white-space: normal;
}

/* Overlay Background */
.overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--OverlayBackground-color);
  overflow-y: auto; /* Scrollable content */
}

/* Overlay Info */
.overlay-content {
  position: relative;
  margin: 5% auto;
  padding: 20px;
  background: var(--text-color);
  max-width: 700px;
  border-radius: 10px;
  text-align: left;
}

.overlay-content h4 {
  font-family: "League_Spartan-Bold";
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 20px;
  margin-bottom: 8px;
  text-align: left;
}

.overlay-content img {
  max-width: 100%;
  border-radius: 10px;
}

.overlay-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
}

#aboutImage {
  width: 300px;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto 20px;
  clear: both;
}

#aboutBody h4 {
  font-family: "League_Spartan-Bold";
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 30px;
}

#aboutBody p {
  font-family: "League_Spartan-Regular";
  font-size: 16px;
  line-height: 1.5;
}

/* Overlay Content Box */
.overlay-content {
  background-color: var(--background-color);
  margin: 60px auto;
  padding: 20px;
  border-radius: 12px;
  max-width: 800px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  color: var(--text-color);
}

.overlay-content img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.overlay-content h3 {
  font-family: "League_Spartan-Bold";
  font-size: 28px;
  color: var(--primary-color);
  margin-bottom: 10px;
  text-align: center;
}

.overlay-content p {
  font-family: "League_Spartan-Regular";
  font-size: 16px;
  line-height: 1.5;
}

.overlay-content li {
  font-family: "League_Spartan-Regular";
  font-size: 16px;
  line-height: 1.5;
}

/* .overlay-content p {
  font-family: "League_Spartan-Regular";
  font-size: 16px;
  line-height: 1.5;
} */

/* Close Button */
.overlayAbout-close {
  font-size: 32px;
  color: var(--text-color);
  float: right;
  cursor: pointer;
  transition: color 0.2s;
}
.overlayAbout-close:hover {
  color: var(--primary-color);
}

.overlayWork-close {
  font-size: 32px;
  color: var(--text-color);
  float: right;
  cursor: pointer;
  transition: color 0.2s;
}
.overlayWork-close:hover {
  color: var(--primary-color);
}

.overlayProject-close {
  font-size: 32px;
  color: var(--text-color);
  float: right;
  cursor: pointer;
  transition: color 0.2s;
}
.overlayProject-close:hover {
  color: var(--primary-color);
}

/* FOOTER */
.Footer {
  background-color: var(--Footer-color);
  padding: 40px 20px;
  text-align: center;
  color: var(--text-color);
  font-family: "League_Spartan-Regular";
  font-size: 16px;
}

.FootReferences {
  grid-column: 4;
  display: flex;
  justify-content: center;
  transform: scale(0.5);
  margin-top: -45px;
  margin-bottom: -45px;
}

.FootReferences ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.FootReferences li {
  display: flex;
  align-items: center;
  transform: scale(0.6);
}

.FootReferences li:hover {
  display: flex;
  align-items: center;
  transform: scale(0.7);
}

@media (max-width: 1042px) {
  .IntroCard {
    display: flex;
    grid-column: 1 / 6;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .IntroText {
    text-align: center;
    padding: 5px;
    columns: 1/5;
  }

  .Portrait img {
    margin-top: 0px;
    width: 300px;
    height: 300px;
    margin-bottom: -40px;
  }
}

@media (max-width: 765px) {
  .IntroCard {
    display: flex;
    grid-column: 1 / 6;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .IntroText {
    text-align: center;
    padding: 10px;
    columns: 1/5;
  }

  .Portrait img {
    margin-top: 0px;
    width: 200px;
    height: 200px;
    margin-bottom: -40px;
  }

  .HeadLogo {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .HeadLogo h3 {
    font-family: "League_Spartan-Bold";
    font-size: 24px;
    color: var(--primary-color);
    margin-top: 0px;
    margin-bottom: -15px;
  }
  .HeadLogo p {
    font-family: "League_Spartan-Bold";
    font-size: 14px;
    color: var(--primary-color);
    margin-bottom: -25px;
  }

  .HeadReferences {
    grid-column: 5;
    display: flex;
    justify-content: flex-end;
  }

  .HeadReferences ul {
    display: flex;
    gap: 12px;
    list-style: none;
    padding-right: 20px;
    margin: 0;
  }

  .HeadReferences li {
    display: flex;
    align-items: center;
    filter: invert(85%) sepia(88%) saturate(1000%) hue-rotate(0)
      brightness(450%) contrast(100%);
    transform: scale(1);
  }

  .HeadReferences li:hover {
    display: flex;
    align-items: center;
    filter: invert(85%) sepia(88%) saturate(1000%) hue-rotate(0)
      brightness(500%) contrast(100%);
    transform: scale(1.1);
  }
}

@media (max-width: 375px) {
  .IntroCard {
    display: flex;
    grid-column: 1 / 6;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .IntroText {
    text-align: center;
    padding: 9px;
    columns: 1/5;
  }

  .IntroText h1 {
    font-size: 36px;
  }

  .Portrait img {
    margin-top: 60px;
    width: 200px;
    height: 200px;
    margin-bottom: -40px;
  }

  .HeadLogo {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .HeadLogo h3 {
    font-family: "League_Spartan-Bold";
    font-size: 24px;
    color: var(--primary-color);
    margin-top: 0px;
    margin-bottom: -15px;
  }
  .HeadLogo p {
    font-family: "League_Spartan-Bold";
    font-size: 14px;
    color: var(--primary-color);
    margin-bottom: -25px;
  }

  .HeadReferences {
    grid-column: 5;
    display: flex;
    justify-content: flex-end;
  }

  .HeadReferences ul {
    display: flex;
    gap: 12px;
    list-style: none;
    padding-right: 20px;
    margin: 0;
  }

  .HeadReferences li {
    display: flex;
    align-items: center;
    filter: invert(85%) sepia(88%) saturate(1000%) hue-rotate(0)
      brightness(450%) contrast(100%);
    transform: scale(1);
  }

  .HeadReferences li:hover {
    display: flex;
    align-items: center;
    filter: invert(85%) sepia(88%) saturate(1000%) hue-rotate(0)
      brightness(500%) contrast(100%);
    transform: scale(1.1);
  }
}
